.table-container {
  background-color: $grey-0;
  min-height: calc(100vh - 96px);
  margin-top: 5.8rem;
  color: $grey-8;
  display: grid;
  grid-template-areas:
          "header header message-board"
          "table-main table-main message-board";
  grid-template-rows: 5rem auto;
}

.table-header {
  grid-area: header;
  justify-self: self-start;
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  font-size: 1.5rem;
  margin: 2rem 0 0 3rem;

  &__title {
    font-size: 2rem;
  }

  &__details {
    font-size: 1.15rem;
    margin-top: 0.5rem;
    color: #868e96;

    &--occupied {
      color: $error;
    }

    &--empty {
      color: $success;
    }
  }
}

.card {
  width: 150px;
  height: 150px;
  background: $white;
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: $shadow-lg;
  border-radius: 10px;
  justify-self: center;
  align-self: center;
  cursor: pointer;
  user-select: none;
  transition: all .2s;

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    transition: all .2s;
  }
}

.card-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;

  &__title-open {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    margin-top: auto;

    &::before {
      content: '';
      display: flex;
      margin-right: 0.25rem;
      margin-left: -0.16rem;
      width: 25px;
      height: 25px;
      border-radius: 50%;
      background: $grey-2;
      box-shadow: $shadow-md;
    }

    &::after {
      margin-left: auto;
      content: '';
      position: absolute;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background: $success;
    }
  }

  &__title-occupied {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    margin-top: auto;

    &::before {
      content: '';
      display: flex;
      margin-right: 0.25rem;
      margin-left: -0.16rem;
      width: 25px;
      height: 25px;
      border-radius: 50%;
      background: $grey-2;
      box-shadow: $shadow-md;
    }

    &::after {
      margin-left: auto;
      content: '';
      position: absolute;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background: #FE7373;
    }
  }

  &__server {
    display: flex;
    padding: 0.5rem;
    align-items: center;
    text-transform: capitalize;
    margin-top: auto;

    &--image {
      width: 1.25rem;
      margin-right: 0.25rem;
      border-radius: 100px;
      border: 1px solid #282E72;
      box-shadow: 6px 6px 16px rgba(209, 205, 199, 0.5), -6px -6px 16px rgba(255, 255, 255, 0.5);
    }

  }
}

.table-main {
  grid-area: table-main;
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(2, 12rem);
  grid-gap: 1.5rem;
}

.display-name {
  &__body {
    &--label {
      display: flex;
      flex-direction: column;

      span {
        margin: 0 0 0.5rem 1rem;
      }
    }

    &--input {
      background: #f8f9fa;
      border: 1px solid rgba(255, 255, 255, 0.2);
      box-shadow: 6px 6px 16px rgba(209, 205, 199, 0.5), -6px -6px 16px rgba(255, 255, 255, 0.5);
      border-radius: 20px;
      padding: 1rem 1.5rem;
      width: 13rem;
      margin-bottom: 0.5rem;
    }

    &--button {
      background: #282E72;
      border: 1px solid rgba(255, 255, 255, 0.2);
      box-shadow: 6px 6px 16px rgba(209, 205, 199, 0.5), -6px -6px 16px rgba(255, 255, 255, 0.5);
      border-radius: 20px;
      width: 16.5rem;
      height: 3.25rem;
      color: #fff;
      margin: 1rem 0;
      &:disabled {
        background: $secondary;
        opacity: 75%;
      }
    }
  }
}

.message-board {
  grid-area: message-board;
  border-left: 2px solid $grey-1;
  margin: 1.5rem;
  padding: 1.5rem;
  font-size: 1.25rem;

  &__title {
    color: $primary;
  }
}

.message {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
  &__text {
    padding-bottom: 0.5rem;
  }

  &__date-time {
    font-size: 1rem;
    color: $grey-6;
  }
}

