$primary: #76c9ba;
$secondary: #282E72;
$error: #FF6B6B;
$success: #2F9E44;

$grey-0: #fcfdff;
$grey-1: #f1f3f5;
$grey-2: #e9ecef;
$grey-3: #dee2e6;
$grey-4: #ced4da;
$grey-5: #adb5bd;
$grey-6: #868e96;
$grey-7: #495057;
$grey-8: #343a40;
$grey-9: #212529;

$white: #FFF;
$black: #000;

$shadow-xs: 0 0 0 1px rgba(0, 0, 0, 0.05);
$shadow-sm: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
$shadow-md: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
$shadow-lg: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);

$colors: (
        primary: $primary,
        success: $success,
        error: $error,
        'white': $white,
        'black': $black,
);
